<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Mis horarios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-content>
    @if (horarios.length > 0) {
      <ion-list>
        <ion-item *ngFor="let horario of horarios">
          <ion-label>
            <h2><b>Aula:</b> {{horario.aula}}</h2>
            <p><b>{{horario.materia}}</b></p>
          </ion-label>
          <ion-label>
            {{horario.fechaHora | date: "dd-MMM-YYYY HH:MM a"}}
          </ion-label>
        </ion-item>
      </ion-list>
    }@else {
      <h3 class="no-horarios">No hay horarios disponibles.</h3>
    }

  </ion-content>
</ion-content>
