<ion-content [fullscreen]="true" class="login-page">
    <ion-toolbar class="toolbar">
      <ion-title size="large" class="header-title">Bienvenido(a)</ion-title>
    </ion-toolbar>

  <div class="logo-container">
    <img src="../../../assets/logo_uasd.png" alt="Logo UASD" class="uasd-logo" width="100"/>
  </div>

  <div class="login-container">
    <div class="login-form">
      <ion-item lines="none">
        <ion-label position="floating">Correo <ion-text color="danger">*</ion-text></ion-label>
        <ion-input required type="text" [(ngModel)]="username"></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-label position="floating">Contraseña <ion-text color="danger">*</ion-text></ion-label>
        <ion-input required [(ngModel)]="password" type="password"></ion-input>
      </ion-item>

      <div class="button-container">
        <ion-button expand="block" class="landing-button" (click)="logIn()">
          <ion-icon name="log-in-outline"></ion-icon>
          Iniciar sesión
        </ion-button>
      </div>

      <div class="link-container">
        <a href="https://www.uasd.edu.do/" target="_blank" class="study-link">
          <ion-icon name="book-outline"></ion-icon>
          Estudia con Nosotros
        </a>
      </div>
    </div>
  </div>
</ion-content>
