.landing-page {
    position: relative;
    --background: url('../../../assets/uasd_bg.jpg') no-repeat center center / cover;
    color: #fff;
    text-align: center;
    padding: 20px;
    min-height: 100vh; 
  
    /* Overlay negro */
    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.6); 
      z-index: 0; 
    }
  
    .header,
    .info-section,
    .button-container {
      position: relative;
      z-index: 1;
    }
  
    .header {
      margin-top: 20px;
  
      .uasd-logo {
        max-width: 150px;
        margin: 0 auto;
      }
  
      .title {
        font-size: 1.8em;
        margin-top: 10px;
        font-weight: bold;
      }
    }
  
    .info-section {
      margin: 20px 0;
      padding: 0 20px;
  
      h2 {
        font-size: 1.4em;
        margin-bottom: 5px;
        color: #f4b400; 
      }
  
      p {
        font-size: 1em;
        line-height: 1.6;
      }
  
      ul {
        list-style: none;
        padding: 0;
        margin: 2px 0;
  
        li {
          font-size: 1em;
          padding: 5px 0;
        }
      }
    }
  
    .button-container {
        display: flex;
        justify-content: center; 
        width: 100%; 
        padding: 10px;
      }
      
      ion-button {
        --background: #fff;
        --color: #041865;
        border-radius: 10px;
        font-size: 1em;
        padding: 5px 15px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        width: fit-content;
        height: 60px;
        margin-bottom: 15px;
      }
  }
  