<ion-tabs class="tabs-page">
  <ion-tab-bar slot="bottom" class="custom-tab-bar">
    <ion-tab-button tab="horarios" href="/tabs/horarios">
      <ion-icon aria-hidden="true" name="calendar-outline"></ion-icon>
      <ion-label>Horarios</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="noticias" href="/tabs/noticias">
      <ion-icon aria-hidden="true" name="newspaper-outline"></ion-icon>
      <ion-label>Noticias</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="mis-tareas" href="/tabs/mis-tareas">
      <ion-icon aria-hidden="true" name="book-outline"></ion-icon>
      <ion-label>Tareas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="menu" href="/tabs/menu">
      <ion-icon aria-hidden="true" name="menu-outline"></ion-icon>
      <ion-label>Menú</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
