<ion-header>
  <ion-toolbar>
    <ion-title>Mis tareas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

@if(tareas.length > 0 ) {
  <ion-row class="ion-justify-content-between" >
    <ion-col size="3" *ngFor="let tarea of tareas">
      <ion-card>
        <ion-card-header>
          <ion-card-title>{{tarea.titulo}}</ion-card-title>
          <ion-card-subtitle>Fecha de Vencimiento: {{tarea.fechaVencimiento}}</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
          {{tarea.descripcion}}
        </ion-card-content>

      </ion-card>
    </ion-col>
  </ion-row>
}@else {
  <h3 class="no-tareas">No hay tareas disponibles.</h3>
}

</ion-content>
