<ion-header collapse="condense" class="menu-header">
  <ion-toolbar>
    <ion-title class="menu-title">Menú</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="menu-content">
  <ion-list>
    <ion-item routerLink="/pages/videos">
      <ion-label>Videos</ion-label>
      <ion-icon slot="end" name="videocam-outline"></ion-icon>
    </ion-item>
    <ion-item routerLink="/pages/eventos">
      <ion-label>Eventos</ion-label>
      <ion-icon slot="end" name="calendar-outline"></ion-icon>
    </ion-item>
    <ion-item routerLink="/pages/solicitudes">
      <ion-label>Solicitudes</ion-label>
      <ion-icon slot="end" name="clipboard-outline"></ion-icon>
    </ion-item>
    <ion-item routerLink="/pages/deudas">
      <ion-label>Deudas</ion-label>
      <ion-icon slot="end" name="cash-outline"></ion-icon>
    </ion-item>
    <ion-item routerLink="/pages/preseleccion">
      <ion-label>Preselección</ion-label>
      <ion-icon slot="end" name="list-outline"></ion-icon>
    </ion-item>
    <ion-item routerLink="/pages/acerda-de">
      <ion-label>Acerca De</ion-label>
      <ion-icon slot="end" name="information-circle-outline"></ion-icon>
    </ion-item>
    <ion-item (click)="logOut()">
      <ion-label>Salir</ion-label>
      <ion-icon slot="end" name="exit-outline"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
