<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Acerca De</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Acerca De</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="about-container">
    <ion-row class="developer-row">
      <h2 class="section-title">Desarrolladores</h2>
      <!-- Desarrollador 1 -->
      <ion-col size="12" size-md="6">
        <div class="developer-info">
          <img src="assets/foto_amelia.jpg" alt="Amelia Henriquez" class="developer-photo" />
          <ion-card class="developer-card">
            <ion-card-header>
              <ion-card-title>Amelia Henriquez</ion-card-title>
              <ion-card-subtitle>Matrícula: 20221052</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              <p>
                Me especializo en diseño de interfaces y experiencias de usuario y desarrollo web. Me encanta trabajar en equipo y
                crear soluciones innovadoras.
              </p>
            </ion-card-content>
          </ion-card>
        </div>
      </ion-col>

      <!-- Desarrollador 2 -->
      <ion-col size="12" size-md="6">
        <div class="developer-info">
          <img src="assets/foto_eliezer.jpeg" alt="Eliezer Diaz" class="developer-photo" />
          <ion-card class="developer-card">
            <ion-card-header>
              <ion-card-title>Eliezer Diaz</ion-card-title>
              <ion-card-subtitle>Matrícula: 20198570</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              <p>
                Soy un apasionado por el desarrollo de software y la tecnología. Disfruto transformar ideas en
                aplicaciones funcionales.
              </p>
            </ion-card-content>
          </ion-card>
        </div>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
