<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    

  <!-- Aqui se elige entre ver o agregar solicitudes -->
  <ion-segment [value]="verMisSolicitudes" (ionChange)="cambiarVista($event)">
    <ion-segment-button  value="true">
      <ion-label>Mis Solicitudes</ion-label>
    </ion-segment-button>
    <ion-segment-button value="false">
      <ion-label>Solicitar</ion-label>
    </ion-segment-button>
  </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  @if(verMisSolicitudes == true) {

    @if(solicitudes.length > 0){
      <!-- Listado de solicitudes hechas -->
      <ion-row class="ion-justify-content-around">
        <ion-col size="4" *ngFor="let solicitud of solicitudes">
          <ion-card>
            <ion-card-header>
              <ion-card-title>{{solicitud.tipo}}</ion-card-title>
              <ion-card-subtitle>{{solicitud.fechaSolicitud}}</ion-card-subtitle>
              <div class="pill">{{solicitud.estado}}</div>
            </ion-card-header>
          
            <ion-card-content>
              {{solicitud.descripcion}}
            </ion-card-content>
          
            <ion-button (click)="cancelarSolicitud(solicitud.id)" expand="block"  shape="round">
              <ion-icon slot="end" name="trash-outline" ></ion-icon>
            </ion-button>
          </ion-card>
        </ion-col>
      </ion-row>
    }@else {
      <!-- Aqui se muestra cuando no hay registro de solicitudes -->
      <h1>No hay Registros</h1>
    }

  }@else {

    <!-- Este es el mini-formulario para crear solicitudes -->
    
    <ion-row>
      <ion-col size="12">
        <ion-list>
          <h5>Formulario de Creación de Solicitudes</h5>
          <ion-item>
            <ion-select [(ngModel)]="tipoSolicitud" label="Tipo" placeholder="Tipo de Solicitud">
              <ion-select-option *ngFor="let tipo of tiposSolicitudes" [value]="tipo.codigo">{{tipo.codigo}}</ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-textarea label="Descripcion:" placeholder="Escribe aquí la descripción..." [(ngModel)]="descripcionSolicitud"></ion-textarea>
          </ion-item>

            <ion-button (click)="crearSolicitud()" expand="block" shape="round" class="add-btn"> 
              <ion-icon slot="end" name="add-outline" ></ion-icon>
              Crear Solicitud
            </ion-button>
        </ion-list>
      </ion-col>
    </ion-row>
  }
</ion-content>
