ion-header {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  --background: #fff;
  --ion-background-color: #fff;
  padding: 0;
  margin: 0;

  ion-toolbar {
    display: flex;
    justify-content: center;
    align-items: center;
    --background: #fff !important;
    --ion-border-color: transparent;
    border: none !important;
    height: 50px;
    box-shadow: none !important;
  }

  ion-title {
    color: #041865;
    font-size: 1.8em;
    font-weight: bold;
    text-align: center;
    margin: 0;
  }

  ion-back-button {
    color: #041865;
  }
}

ion-content {
  --background: #fff;

  .no-noticias {
    color: #041865;
    font-size: 1.2em;
    font-weight: normal;
    text-align: center;
    margin-top: 20%;
  }

  ion-row {
    margin-top: 20%;
    display: flex;
    flex-direction: column;
    gap: 10px; 
    align-items: center;

    ion-col {
      display: flex;
      justify-content: center;
      width: 100%;
      max-width: 400px; 
      padding: 0 !important;

      ion-card {
        background: #f4f4f4;
        border: 1px solid #041865;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        transition: transform 0.2s ease-in-out;
        justify-content: space-between;
        height:fit-content;
        width: 100%;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

        &:hover {
          transform: scale(1.02);
        }

        ion-card-header {
          padding: 10px;
          ion-card-title {
            font-size: 1.2em;
            color: #041865;
            font-weight: bold;
          }

          ion-card-subtitle {
            font-size: 0.9em;
            color: #555;
            margin-bottom: 8px;
          }
        }

        ion-button {
          --background: #041865;
          --color: #fff;
          border-radius: 10px;
          font-size: 1em;
          padding: 5px 15px;
          margin: 0 auto;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 5px;
          width: fit-content;
          margin-bottom: 15px;

          ion-icon {
            font-size: 18px;
            color: #fff;
          }

          a {
            color: #fff;
            text-decoration: none;
          }
        }
      }
    }
  }
}
